tqdm~=4.63.0
pandas==1.5.0
numpy==1.23.4
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-events==0.5.0
jupyter-server==1.23.1
jupyter_client==7.4.4
jupyter_core==5.0.0
jupyter_server_terminals==0.4.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
